USE [master]
GO
/****** Object:  Database [AUCTION_1]    Script Date: 03-Aug-20 14:15:27 ******/
CREATE DATABASE [AUCTION_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AUCTION_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AUCTION_1.mdf' , SIZE = 11264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AUCTION_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AUCTION_1_log.ldf' , SIZE = 5184KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AUCTION_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AUCTION_1]
GO
/****** Object:  Table [dbo].[AuctionProduct]    Script Date: 03-Aug-20 14:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AuctionProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](50) NOT NULL,
	[image] [varbinary](max) NOT NULL CONSTRAINT [DF_AuctionProduct_image]  DEFAULT (0x00),
	[description] [nvarchar](1000) NOT NULL,
	[startingBid] [money] NOT NULL,
	[sellerId] [int] NOT NULL,
	[buyerId] [int] NULL,
	[finalBid] [money] NULL,
	[isOffered] [bit] NOT NULL CONSTRAINT [DF_Product_isOffered]  DEFAULT ((0)),
	[isGone] [bit] NOT NULL CONSTRAINT [DF_Product_isSold]  DEFAULT ((0)),
	[isDeleted] [bit] NOT NULL CONSTRAINT [DF_Product_isDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AuctionUser]    Script Date: 03-Aug-20 14:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[isAdmin] [bit] NOT NULL CONSTRAINT [DF_AuctionUser_isAdmin]  DEFAULT ((0)),
 CONSTRAINT [PK_AuctionUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_AuctionUser_userName] UNIQUE NONCLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AuctionUser]    Script Date: 03-Aug-20 14:15:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AuctionUser] ON [dbo].[AuctionUser]
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuctionProduct]  WITH CHECK ADD  CONSTRAINT [FK1_Product_AuctionUser] FOREIGN KEY([sellerId])
REFERENCES [dbo].[AuctionUser] ([ID])
GO
ALTER TABLE [dbo].[AuctionProduct] CHECK CONSTRAINT [FK1_Product_AuctionUser]
GO
ALTER TABLE [dbo].[AuctionProduct]  WITH CHECK ADD  CONSTRAINT [FK2_Product_AuctionUser] FOREIGN KEY([buyerId])
REFERENCES [dbo].[AuctionUser] ([ID])
GO
ALTER TABLE [dbo].[AuctionProduct] CHECK CONSTRAINT [FK2_Product_AuctionUser]
GO
USE [master]
GO
